<% provide(:title, "About") %>

       <h1>About</h1>
        <p>This is the about page. located at app/views/static_pages/about.html.erb</p>
        <p>This sample application will act as a template for my future rails applications</p> 
   