<div class="center jumbotron">
    <h1> Welcome to PoliWise</h1>
    <h2>This is the home page for PoliWise</h2>
    
    <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary"%>
</div>
<!--see page 186 to later add logo--->