<footer class="footer">
     <!--Reminder: Replace with copyright symbol, team and team members names-->
    <small>
        A product created by the 'Chevaliers de Politique' : Amirah Chamble, Arjit Bhargava, Pauline Chan and James Schleicher.
    </small>
    <nav>
        <ul>
            <li> <%= link_to "About", about_path %> </li>
            <li> <%= link_to "Contact", contact_path %> </li>
            <li> <%= link_to "Trap", trap_path %> </li>
            <li>News</li>
        </ul>
    </nav>
</footer>